<div class="content">
  <h2>Дорогие друзья!</h2>
  <article>
    <p>Это сайт Студии основ гармонии в Костроме, "СТОГИКОС". Это я и те, кто мне помогает. Студия виртуальна. Она не имеет постоянного штата и средств. Нас мало. Но у нас в руках ключ к решению грандиозной проблемы. Расшифрованы основания естественной геометрии, открыт путь к тайне формообразования.</p>
    <p>Мы ищем спонсоров и единомышленников: программиста-геометра, не боящегося криволинейных пространств, физика, биолога, психолога. Архитекторов и художников.</p>
    <p>Наша цель: создать модель эволюции живых форм, опираясь на открытые и представленные сжато на этом сайте законы формообразования. Надежно работать в архитектуре и дизайне. Понять, почему мир, в котором мы живем и которому принадлежим, такой как он есть, а не иной.
    </p>
    <br/>
    <p style="text-align: right;">Иосиф Шевелев</p>
  </article>
</div>

<div class="content-full-width-container">
  <div class="content">
    <h2>Междисциплинарные связи</h2>
    <article class="nocolumn">
      <div class="left"><p>Архитектура и геометрия</p></div>
      <div class="right"><p>Пропорции, форма, образ, структура. Шедевры зодчества: Парфенон. Целостность + комбинаторика. Парные меры и архитектура Древней Руси.</p></div>

      <div class="left"><p>Естественная геометрия и архитектура мироздания</p></div>
      <div class="right"><p>Единица – ключ естественной геометрии. Новый принцип правильного деления пространства. Золотое сечение. Золотые тетраэдры. Экспансия: золотое сечение сферы и Вторая теорема Пифагора.</p></div>

      <div class="left"><p>Гармония: физика, биология, философия и искусство</p></div>
      <div class="right"><p>Утраченное знание исчезнувших цивилизаций. Алгоритмы структурообразования – два рода целых чисел – комплексный ряд Фибоначчи-Люка – Алгоритм репликации – алгоритм симметрии пар и расширяющаяся "золотая" сфера.</p></div>
    </article>
  </div>
</div>

<div class="content">
  <h2>Контакты</h2>
  <article>
    <p></p>
  </article>
</div>